html{
    box-sizing: border-box;
}
*, 
*::after,
*::before{
    box-sizing: inherit;
}
body{
    font-size: 18px;
    font-family: 'DM Serif Display', 'Public Sans';
}

.visually-hidden{
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: inset(50%);
    height: 1px;
    width: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
}

.container{
    max-width: 1440px;
    padding: 0 165px;
    margin: auto;
}